.cart-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item-img {
    width: 15px;   /* Establecer el tamaño de la imagen */
    height: 15px;  /* Asegurarte de que la altura también se ajuste */
    object-fit: cover; /* Para que la imagen no se distorsione */
    border-radius: 50%; /* Opcional: para darle bordes redondeados */
}

.cart-item-details {
    flex-grow: 1;
    margin-left: 10px;
}

.remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #dc3545;
}